.container-fluid{
  padding: 0px;
}

.navbar-default{
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 10;
  width: 100%;
}

#first-slide{
  background-image: url(../img/wood-2.jpg);
  background-size: cover;
  min-height: 600px;
}
#first-slide img{
  max-height: 400px;
  padding-top: 125px;
}

#second-slide{
  background-image: url(../img/restaurant-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;

}

#third-slide{
  background-image: url(../img/farm-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

#second-slide .carousel-caption{
  padding-bottom: 175px;
}

#second-slide button{
  background-color: #f15a24;
  padding: 5px 10px;
}

#third-slide .carousel-caption{
  padding-bottom: 175px;
}

#third-slide button{
  background-color: #f15a24;
  padding: 5px 10px;

}
#story{
  min-height: 500px;
  background-color: blue;
}

#review{
  min-height: 500px;
  background-color: green;
}

#menu{
  min-height: 500px;
  background-color: green;
}
#contact{
  min-height: 500px;
  background-color: green;
}














